@media (max-width: 1120px) {
    a{
        font-size: large;
    }
    article h1 {
        margin-bottom: 0px;
    }
    #btnMusica, #btnVinyl, #btnMerch, #titulo{
        width: 150px;
    }
}

@media (max-width: 800px) {
    #menuprincipal {
        display: none;
        width: 100%;
        height: 100%;
        padding: 0%;
    }
    #menuprincipal li {
        width: 100%;
        display: block;
        margin-right: 0px;
        text-align: center;
    }    
    #menuprincipal a{
        font-size: 15px;
    }
    #menuicono {
        display: block;
    }
    #btnMusica, #btnVinyl, #btnMerch, #titulo{
        width: 100px;
    }    
    .img-content {
        width: 50%;
        height: 30%;
    }

}


@media (max-width: 720px) {
    p{
        font-size: 14px;
    }
    aside {
        width: 90%;
    }
    
    .img-content {
        width: 45%;
        height: 25%;
    }
}

@media (max-width: 600px) {
    .img-content {
        width: 35%;
        height: 15%;
    }

}

@media (max-width: 400px) {
    .img-content {
        width: 25%;
        height: 10%;
    }

}