*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: #f5f9fa;
}

.aside-index, footer{
    background: linear-gradient(#323333, #2a2b2b);

}
header,article{
    background-color: hsl(198,68%,53%);
}

#menuicono{
    background: linear-gradient(#323333, #2a2b2b);
}

#menuprincipal{
    background: linear-gradient(#323333, #2a2b2b);
    display: block;
}
nav ul {
    background:transparent;
    display: block;
    list-style-type: disc;
}
nav a{
    background: transparent;
}

#menuprincipal>div {
    max-width: 960px;
}

#menuprincipal li {
    display: inline-block;
}

#menuprincipal a {
    font: bold 20px Arial, sans-serif;
    color: #f5f9fa;
    text-decoration: none;
}
#menuicono {
    display: none;
    width: 100%;
}
h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
    font-size: 2em;
    margin-left: 0.67em;
    margin-right: 0.67em;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

p {

    display: block;
    font-size: 18px;
    margin-right: 2em;
    margin-left: 3em;
    margin-top: 0;
    text-align: justify;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table, th, td {
    border: 1px solid black;
  }
nav li {
    flex-grow: 1;
}

nav a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #323333;
    transition: all 500ms ease;
}

nav a:hover {
    color: #323333;
    background-color: #f5f9fa;
}

.img-content {
    padding-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.caja{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    padding: 10px;
    text-align: center;
}

header{
    text-align: center;
}
.contenido{
    display: flex;
    width: 100%;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
article{
    flex-basis: 70%;
}
aside {
    flex-basis: 30%;

}
strong {
    stroke-width: 0.5em;
}

.article-secondary{
    flex-basis: 100%;
}
#leyenda{
    margin-left: 33%;
}
.social-footer{
    margin: 0;
    padding: 0;
}
.social{
    display: flex;
}
.social ul{
    display: flex;
    padding: 20px;

    height: 30px;
    margin: auto;
}
.red-social{
    list-style: none;

}
.red-social a{
    padding: 10px 25px;
    font-size: 35px;
    color: hsl(198,68%,53%);
}
.quick-links{
    display: flex;
    width: 50%;
    margin: auto;
}
.quick-links ul{
    display: flex;
    height: 35px;
    margin: auto;
}
.quick-items a:hover{
    color: hsl(198,68%,53%);
}
.quick-items{
    list-style: none;
}
.quick-items a{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 18px;
    color: white;
    transition: all .25;
}
.footer-final{

    width: 100% ;
    padding: 2rem 0;
    display: block;
    color: #f5f9fa;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    background-color: #3f3f3f;
}